/* PULSANTI MODIFICA / ELIMINA */

.action-buttons{
    display:flex;
    gap:8px;
}

.edit-btn,
.delete-btn,
.cancel-btn{
    border:none;
    padding:9px 12px;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    font-size:13px;
    transition:.3s;
}

.edit-btn{
    background:#081120;
    color:white;
}

.delete-btn{
    background:#d90429;
    color:white;
}

.cancel-btn{
    background:#6b7280 !important;
    color:white !important;
}

.edit-btn:hover,
.delete-btn:hover,
.cancel-btn:hover{
    transform:translateY(-2px);
    opacity:.9;
}
